name: Clean Repository

on:
  pull_request:
    types:
      - closed

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - name: Clean Rperform
      run: |
        git filter-branch -f --prune-empty --index-filter "git rm -r --cached --ignore-unmatch ./rperform/results" HEAD
        git commit -m "Clean up Rperform"
        git push origin HEAD:$GITHUB_BASE_REF
        echo "DONE with Rperform"
      shell: bash

        